body{
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(195, 78, 78);
  height: 60px;
  align-self: center;
  text-align-last: center;
}

header h1{
  float: left;
  padding: 15px 0 0 20px;
  margin: 0;
  padding: 0;
}

header nav{
  float: right;
}

header nav ul {
  list-style: none;
}

header nav ul li{
  display: inline;
}

header nav ul li a{
  display: inline;
  padding: 0 1em;
  text-decoration: none;
}

header nav ul li a:hover{
  display: inline;
  padding: 0 1em;
  text-decoration: underline;
}

h1 {
  display: inline-block;
  margin-top: 2em;
}

.content{
  display: inline-block;
}

form {
  display: grid;
  text-align: left;
  background-color: rgb(186, 186, 186);
  border-radius: 5px;
  padding: 1em;
  margin: 3em;
}
form button {
  margin-top: 1em;
  font-size: 1.5em;
}

button:hover{
  cursor: pointer;
}
