body {
  text-align: center;
  padding: 0;
  margin: 0;
}
header {
  background-color: rgb(40, 119, 255);
  margin: 0;
  padding: 0;
}
.board{
  text-align: justify;
}
form{
  display: inline;
}
.note{
  display: inline-block;
  background-color: rgb(250, 122, 37);
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
}
.header{
  background-color: black;
  border-radius: 10px;
  padding: 5px;
}
.body{
  padding: 5px;
}
.title{
  display: block;
}
